

/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

html,

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #E96310;
  font-family: 'Raleway', sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.gif {
  float: left;
    width: 100%;

}

.frame {
  display: block;
  margin: auto;
  width: 100%;
  height: 60%;
  position: relative;
}
.stage {
  color: #1B3955;
}

.title {
  color: #a12df4;
}

.low {
  color: #1B3955;
  font-size: 1 vw;
}


ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
    background: #83e4e2;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
  }

.trip {
  font-family: 'Sonsie One', cursive;
}

.step {
  color: #203763;
}

.column {
  float: left;
  width: 50%;
}

.app {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #7FD1AE
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #206777;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

--magenta:						#BC2767;
--meadow:							#7A9A3E;


--midnight:						#1B3955;

--moss:								#83A944;

--navy:								#363A57;
--ocean:							#206777;

--orange:							#FD8A04;
--orchid:							#7945BF;
--pond-bottom:				#264A46;
--purple:							#A95AF3;
--purple-slate:				#545375;
--rainforest:					#25422E;
--raspberry-jam:			#3C0D2B;

--royal:							#4169E1;
--ruby:								#D1314B;
--squash:							#E96310;
--sea-foam:						#5D998B;
--sea-fog:						#758C92;
--slate:							#7184A5;
--spice:							#B54E16;
--spring:							#5ACB65;
--teal:          			#29879C;
--terracotta:    			#B76A61;
--twilight:						#203763;
--vavavoom:						#BF0D0D;
--walnut:      				#381F19;
