

/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

html,

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #83e4e2;
  font-family: 'Raleway', sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.gif {
  float: left;
    width: 25%;
    padding-left: 20px;
}

.frame {
  margin: 0 auto;
  padding-left: 0%;
  display: block;
  margin: auto;
  width: 50%;
  height: 60%;
  position: relative;
}
.stage {
  color: black;
}

.title {
  color: #a12df4;
}

.low {
  color: black;
  font-size: 3vw;
}


ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
    background: #83e4e2;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
  }

.trip {
  font-family: 'Sonsie One', cursive;
}

.step {
  color: black;
}

.column {
  float: left;
  width: 50%;
}

.app {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightBlue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
